
  <div class="recipe-card-header">
    <img class="recipe-image" src="<%= recipe.image %>">
    <h3 class="recipe-name">Dish Name:<%= recipe.title %></h3>
    <p class="-recipe-serving">Servings: <%= recipe.servings %></p>
    <p class="recipe-time">time to cook: <%= recipe.time %></p>
    <p class="recipe-vegetarian">is vegetarian: <%= recipe.vegetarian %></p>
    <p class="recipe-vegan">is vegan: <%= recipe.vegan %></p>
    <p class="recipe-source">source: <a href= "<%=recipe.source_url %>" > <%= recipe.source_name %></a></p>
  </div>
