<!DOCTYPE html>
<html lang="en">
  <head>
    <title>500 Error Splash</title>
    <%- include('partials/head.ejs')%>
  </head>
  <body>
    <body>
      <header class="header">
          <%- include('partials/header.ejs') %>
      </header>
      <div class="top-push"></div>
      <div class="content">
      <main>
        <h3>Whelp we have Broken something</h3>
        <p>you have ended up in a hole of our making here is a ladder and we hope you dont find to many more of these!</p>

        <h5>Error500:</h5><p><%- error %></p>
        <h5>Error Message:</h5><p><%- error_Msg %></p>
      </main>
    </div>
    <div class="push"></div>
    <footer>
      <div class="footer-box">
        <%- include('partials/navigation.ejs') %>
      </div>
    </footer>
    <script src="../js/nav.js"></script>
    </body>
</html>