<!DOCTYPE html>
<html>
  <head>
    <title>TDK:Result Details</title>
    <%- include('../../partials/head.ejs')%>
  </head>
  <body>

    <header>
      <%- include('../../partials/user-nav.ejs') %>
      <h1>TDK: Result Details</h1>
      <%- include('../../partials/ham-nav.ejs')%>
    </header>

    <main>
      <section class="api-results">
        <% recipies.forEach(recipe =>{ %>
          <div class="recipe-card">
            <h3 class="recipe-name">Dish Name:<%= recipe.title %></h3>
            <img class="recipe-image" src="<%= recipe.image %>">
          </div>
        <% }) %>
      </section>

      
      <footer>
        <!-- make sticky -->
          <%- include('../../partials/navigation.ejs') %>
      </footer>
    </main>

    <script src="../../js/nav.js"></script>
  </body>
</html>