<!DOCTYPE html>
<html>
  <head>
    <title>TDK:Result Details</title>
    <%- include('../../partials/head.ejs')%>
  </head>
  <body>

    <header>
      <%- include('../../partials/user-nav.ejs') %>
      <h1>TDK: Result Details</h1>
      <%- include('../../partials/ham-nav.ejs')%>
    </header>

    <main>
      <section class="recipe-card"></section>
      <%- include('../../partials/recipe-card-header.ejs') %>
      <div class="recipe-card-body">
        <h3 class="card-title">Ingredients</h3>
        <ul class="ingredients">
        <% ingredientsObject.map(ingredient =>{ %>
          <li><%= ingredient.string %></li>
        <% })%>
        </ul>
        <h3>Instructions</h3>
        <p class="recipe-instructions"><%- recipe.instructionsList %></p>
      </div>

      <section>
        <div id="recipe-save-form">
          <form action="/recipeBox" method="POST">
            <fieldset>
              <input type="hidden" name="spoon_id" value="<%= recipe.id %>"></input>
              <input type="hidden" name="image" value=<%= recipe.image %> ></input>
              <input type="hidden" name="title" value="<%= recipe.title %>"></input>
              <input type="hidden" name="servings" value="<%= recipe.servings %>"></input>
              <input type="hidden" name="time" value="<%= recipe.time %>"></input>
              <input type="hidden" name="vegetarian" value="<%= recipe.vegetarian %>"></input>
              <input type="hidden" name="vegan" value="<%= recipe.vegan %>"></input>
              <input type="hidden" name="source_url" value="<%= recipe.sourceUrl %>"></input>
              <input type="hidden" name="source_name" value="<%= recipe.source_name %>"></input>

              <!-- BROKEN todo(#) figure out how to store ingredient data so it is usefull and not too messy and apply to this form plan is 4 columns for data points with arrays for each recipe of their ingredients pulled via .map -->
              <input type="text" name="ingredients" value="<%= recipe.ingredientsList  %>">
              

              <input type="hidden" name="instructions" value="<%- recipe.instructionsList %>"></input>
              
            </fieldset>
            <input type="submit" value="Save this recipe">

          </form>

        </div>
      </section>

      
      <footer>
        <!-- make sticky -->
          <%- include('../../partials/navigation.ejs') %>
      </footer>
    </main>

    <script src="../../js/nav.js"></script>
  </body>
</html>