<!DOCTYPE html>
<html>
  <head>
    <title>TDK:<%- recipe.title %></title>
    <%- include('../../partials/head.ejs')%>
  </head>
  <body>
    <header class="header">
        <%- include('../../partials/header.ejs') %>
    </header>
    <div class="top-push"></div>
  <div class="content">
      <main>
        <%- include('../../partials/recipe-card.ejs') %>
      <section class="btn-bar">
        <a href="/delete/<%= recipe.id %>"><button class="delete-btn" >Delete Me</button></a>
  
      </section>

    </main>
  </div>
  <div class="push"></div>
  <footer>
    <div class="footer-box">
      <%- include('../../partials/navigation.ejs') %>
    </div>
  </footer>
    

    <script src="../../js/nav.js"></script>
  </body>
</html>