<!DOCTYPE html>
<html>
  <head>
    <title>TDK:Your Recipies</title>
    <%- include('../../partials/head.ejs')%>
  </head>
  <body>
    <header class="header">
      <div class="header-content">
        <img class="logo" src="../assets/logos/right/tdk_logo_right_250.png">
        <h1 class="header-title">Recipe Box</h1>
      </div>
      <div class="nav-bar">
        <%- include('partials/header.ejs') %>
      </div>
    </header>The Dragons Kitchen
            <h3 class="recipe-name">Dish Name:<%= recipe.title %></h3>
            <img class="recipe-image" src="<%= recipe.image %>">
            <a href="/recipeBox/<%= recipe.id %>"><button>Inspect Recipe</button></a>
          </div>
        <% }) %>
      </section>

    </main>
  </div>
  <div class="push"></div>
  <footer>
    <div class="footer-box">
      <%- include('partials/navigation.ejs') %>
    </div>
  </footer>
    <script src="../../js/nav.js"></script>
  </body>
</html>