<!DOCTYPE html>
<html>
  <head>
    <title>TDK:The Dragons Kitchen</title>
    <%- include('../../partials/head.ejs')%>
  </head>
  <body>

    <header>
      <%- include('../../partials/user-nav.ejs') %>
      <h1>TDK: The Dragons Kitchen</h1>
      <%- include('../../partials/ham-nav.ejs')%>
    </header>

    <main>
      <div>
        <a href="/newRecipe"><button>Create Recipe</button></a>
      </div>
      <section class="recipebox-list">
        <% savedRecipesList.forEach(recipe =>{ %>
          <div class="card">
            <h3 class="recipe-name">Dish Name:<%= recipe.title %></h3>
            <img class="recipe-image" src="<%= recipe.image %>">
            <a href="/recipeBox/<%= recipe.id %>"><button>Inspect Recipe</button></a>
          </div>
        <% }) %>
      </section>

      
      <footer>
        <!-- make sticky -->
          <%- include('../../partials/navigation.ejs') %>
      </footer>
    </main>

    <script src="../../js/nav.js"></script>
  </body>
</html>