<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TKD: Profile</title>
    <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <header class="header">
        <%- include('../partials/header.ejs') %>
    </header>
    <div class="top-push"></div>
    <div class="content">
      <main>
        <article>
          <h4>This is Your TDK Profile</h4>
          <p>This is how we see you. right now you can change your screen name, pick a icon...
          soon you will be able to login to spotify and see your saved recipes as a list and more. keep coming back for new features.</p>
        </article>
        <section id=user-info>
          <h4><%= profile.display_name %></h4>
          <p><%= profile.user_email %></p>
          <p>Username: <%= userInfo.display_name %></p>
          <p><%= profile.user_bio %></p>
          <img src="<%= profile.user_image %>">
        </section>
        <!-- <img class="menu-icon" src="../assets/icons/day/spotify_daymode.png"><a href=""><h6>Spotify</h6></a> -->
      </main>
    </div>
    <div class="push"></div>
    <footer>
      <div class="footer-box">
        <%- include('../partials/navigation.ejs') %>
      </div>
    </footer>
    <script src="../js/nav.js"></script>
  </body>
</html>


<li></li>